
nav {
  display: flex;
  position: relative;
	justify-content: space-around;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  height: 100px;
  width: 100%;
  position: relative;
  background-color: #F66969;
  border-radius: 0 0 0 0; /* This line was updated */
  -webkit-box-shadow: 0px 2px 49px -7px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 2px 49px -7px rgba(0,0,0,0.36);
  box-shadow: 0px 2px 49px -7px rgba(0,0,0,0.36);
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

nav::before {
  content: "";
  position: absolute;

  background-color: transparent;
  right: 0px;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 #F66969; /* This is where the magic happens! */
}

nav::after {
  content: "";
  position: absolute;

  background-color: transparent;
  left: 0px;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #F66969; /* This is where the magic happens! */
}

.nav-bar{
  display: flex;
  justify-content: center;
}

.ui.input{
  margin:30px;
}

.ui.search>.results{
  margin-top:-30px;
}


.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.list {
  border: 1px solid #fff;
  padding: 5px;
}

.pagination {
  display: flex;
  border: 1px solid #fff;
  justify-content: space-between;
  padding: 20px;
}

.pagination button {
  padding: 10px;
}

.active {
  background: yellow;
  color: #fff;
  border: 1px solid #fff;
}

.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
