* {
  box-sizing: border-box;
  line-height: 1rem;
}
nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 3vw, 20px);
  padding: 0px;
  margin: 0px;
  height: 100px;
  width: 100%;
  position: relative;
  background-color: #f66969;
  border-radius: 0 0 0 0; /* This line was updated */
  -webkit-box-shadow: 0px 2px 49px -7px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 2px 49px -7px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 2px 49px -7px rgba(0, 0, 0, 0.36);
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

nav::before {
  content: "";
  position: absolute;

  background-color: transparent;
  right: 0px;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 #f66969; /* This is where the magic happens! */
}
.ui.search.active {
  background: #f66969;
  border: 0px;
}

nav::after {
  content: "";
  position: absolute;

  background-color: transparent;
  left: 0px;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #f66969; /* This is where the magic happens! */
}

.nav-bar {
  display: flex;
  justify-content: center;
}

nav > ul > li {
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-weight: 400;
  padding: 10px;
  position: relative;
  transition: 0.5s;
}

.ui.input {
  margin: 30px;
}

.ui.search > .results {
  margin-top: -30px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.list {
  padding: 5px;
}

.active {
  background: #e96464;
  color: #fff;
  border: 1px solid #fff;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

@media (min-width: 300px) {

  .list{
    margin-left: 4rem;
  }
  .ui.card {
    max-width: 80%;
    flex-grow: 1;
    flex: 1 1 0px;
  }
  .pokemon-list {
    gap: 5px;
    flex-basis: 100%;
    flex: 1 1 0px;
  }

  .ui.card > .content {
    font-size: x-small;
  }
  body,
  html {
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
  .ui.input {
    margin: 30px;
  }

  .ui.search > .results {
    margin-top: 0px;
  }
  .ui.input > input {
    max-width: 70%;
  }
  i.icon {
    left: 50%;
  }
}

.poke-font {
  font-family: "Press Start 2P", sans-serif;
  margin:0;
}

.poke-font.detail{
  margin-top: 1em;
}

.poke-index {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2rem;
  rotate: -9deg;
  color: #f66969;
  margin-left: 0.6em;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000;
}

/* .card-details {
  font-family: "Press Start 2P", sans-serif;
  margin-top: 1rem;
  overflow: hidden;
  margin-bottom: 10px;
} */

.carte-int{
  max-width: 80%;
  flex-grow: 1;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-sizing:border-box;
  overflow: hidden;
  width: 232px;
  background-color: #F2F2F2;
  box-shadow: 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5

}

.carte-pic{
  background-color: #F2F2F2;
  width: auto;
  height: 232px;
  border-bottom: 1px solid #E9E9E9;
}

.carte-info{
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  height: auto;
  background-color: #FFFFFF;
  line-height: 1em;


}

.carte-btn{
  width: 100%;
  background-color: #E0E1E2;
  border-radius: 6px;
  align-self: center;
  margin: none;
  margin-top: 0.8em;
  color: #5A5A5A;
  font-weight: 700;
  border-color: transparent;
  outline: 0;
  min-height: 1em;
  padding: .78571429em 1.5em .78571429em;
  vertical-align: baseline;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15);
  user-select: none;
}
.carte-btn:hover{
  background-color:#CACBCD;
  transition: 0.2s ease-in;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15);

}

.detail{
  color: rgba(0,0,0,.4);
  font-size: 0.7em;
}
